<h2 class="mt-4">Ingresar Productos</h2>
<section class="mt-4">
  <h3>Productos en CRUD</h3>
  <form id="productsCrud">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" name="category">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" name="price">
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="text" class="form-control" id="stock" name="stock">
    </div>
    <div class="mb-3">
      <label for="thumbnail" class="form-label">Thumbnail</label>
      <input type="text" class="form-control" id="thumbnail" name="thumbnail">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
<a href="http://localhost:8080/" class="btn btn-secondary mt-4">Home</a>
<script src="/js/admin.js"></script>
</body>

</html>