<h2 class="mb-4">CARTS</h2>
<a href="http://localhost:8080/" class="btn btn-primary mb-2">Home</a>
<button style="width: 120px" class="btn btn-danger mb-2" id="logout">Logout</button>

{{#each carts}}
<div class="mt-4">
  <h5 class="mb-3">Carrito ID: {{this._id}}</h5>
  <ul class="list-group">
    <li class="list-group-item"><strong>Productos en Carrito:</strong></li>
    {{#each this.products}}
    <li class="list-group-item"><strong>Producto:</strong> {{this.product.title}}</li>
    <li class="list-group-item"><strong>_id:</strong> {{this.product._id}}</li>
    <li class="list-group-item"><strong>Cantidad:</strong> {{this.quantity}}</li>
    {{/each}}
  </ul>
</div>
{{/each}}

<script src="/js/logout.js"></script>