<a href='http://localhost:8080/'> <button> Home </button></a>
<section>
  <img
    src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fkinsta.com%2Fes%2Fbase-de-conocimiento%2Fha-habido-un-error-critico-en-su-sitio-web%2F&psig=AOvVaw1zWNPun1pA5TYRutbPYYsG&ust=1705970653642000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKjuwIri74MDFQAAAAAdAAAAABAD"
    alt="" style="max-width: 500px" />
  <h4>Error al loguearte</h4>


  <a href="http://localhost:8080/login"> <button> Ingresa aqui </button></a>
  </div>
</section>